#upgrade-left-bg {
    position: absolute;
    top: 21%;
    left: 7%;
    width: 51%;
}

#upgrade-to-text {
    position: absolute;
    top: 25%;
    left: 17%;
    color: #ffffff;
    font-size: 1.7vw;
}

#upgrade-price-count {
    position: absolute;
    top: 35%;
    left: 36%;
    color: #ffffff;
    font-size: 1.4vw;
}

#upgrade-time-count {
    position: absolute;
    top: 44.5%;
    left: 37%;
    color: #ffffff;
    font-size: 1.4vw;
}

#upgrade-percent {
    position: absolute;
    top: 56.5%;
    left: 39%;
    color: #ffffff;
    font-size: 1.6vw;
}

#upgrade-btn-img {
    width: 17%;
    left: 14%;
    bottom: 15%;
}

#dangerous-btn-img {
    width: 17%;
    left: 33%;
    bottom: 15%;
}

#upgrade-img-block {
    width: 25%;
    position: absolute;
    top: 21%;
    left: 64.5%;
}

#upgrade-profitability-bg {
    position: absolute;
    bottom: 11.8%;
    left: 61%;
    width: 32%;
}

#upgrade-img-name {
    position: absolute;
    right: 8%;
    bottom: 22%;
    color: #ffffff;
    font-size: 1.6vw;
    width: 30%;
    text-align: center;
}

#upgrade-profitability-text {
    position: absolute;
    right: 20%;
    bottom: 14%;
    color: #ffffff;
    font-size: 1.6vw;
}

#upgrade-profitability-count {
    position: absolute;
    right: 9%;
    bottom: 14%;
    color: #ffffff;
    font-size: 1.6vw;
}