.exchange-button {
	margin: 2%;
	width: 15vh;
	cursor: pointer;
	transition: 0.4s all;
}

.exchange-button:hover {
	transform: scale(1.1);
}

.exchange-form-container {
	display: flex;
	width: 100%;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.exchange-buttons-container {
	width: 100%;
}

.tokens-form {
	padding-top: 1%;
}

.exchange-form-token-number {
	width: 23%;
}

.exchange-form-token-available {
	width: 35%;
	display: flex;
	justify-content: center;
}

.exchange-header {
	width: 100%;
}

.exchange-navbar {
	display: flex;
	justify-content: center;
}

.exchange-navbar--item {
	width: 25%;
	opacity: 70%;
}

.exchange-navbar--item:hover {
	transform: scale(1.1);
	filter: brightness(1.2);
}

.exchange-navbar--item.selected {
	transform: scale(1.2);
	opacity: 100%;
}

.exchange-navbar--item.deposit {
	margin-right: 10%;
}

.echange-fee-percent {
	margin-bottom: 0;
	background-color: red;
	padding: 1.5px;
	border: 2px solid #8c2018;
	border-radius: 2px;
}

.echange-fee-percent.hide {
	display: none;
}

.deposit-img {
	width: 100%;
}

.withdraw-img {
	width: 100%;
}

.token-exchange-img {
	width: 30px;
}


.exchange-header {
	position: relative;
}

.exchange-background {
	width: 90%;
}

#exchange-header {
	width: 27%;
	position: absolute;
	top: -12%;
	left: 36.5%;
}

.exchange-close {
	width: 7%;
	top: -8%;
	right: 2%;
	cursor: pointer;
	position: absolute;
}

#exchange-second-background {
	width: 75%;
	height: 28vw;
	position: absolute;
	top: 19%;
	left: 12.5%;
}

#exchange-deposit-icon {
	width: 15%;
	position: absolute;
	cursor: pointer;
	left: 7%;
	top: 18.2%;
	filter: brightness(0.8);
}

#exchange-deposit-icon.selected {
	filter: brightness(1.4);
}

#section-bg {
	width: 85%;
	position: absolute;
	left: 7%;
	top: 25%;
}

#exchange-withdraw-icon {
	width: 19%;
	position: absolute;
	cursor: pointer;
	top: 17.6%;
	left: 23.5%;
}

#exchange-withdraw-icon.selected {
	filter: brightness(1.4);
}

.exchange-token-img {
	position: absolute;
	width: 7.5%;
}

#money-image {
	top: 32.5%;
	left: 12%;
}

#emeralds-image {
	top: 58.5%;
	left: 17%;
}

#ruby-image {
	top: 69.5%;
	left: 17%;
}

#sapphire-image {
	top: 79.5%;
	left: 17%;
}

.exchange-token-name {
	position: absolute;
	font-size: 3vw;
	color: #F9D306;
	text-shadow: #402110 1px 1px 0, #402110 -1px -1px 0, #402110 -1px 1px 0, #402110 1px -1px 0;
}

#money-name {
	top: 34%;
	left: 22%;
	color: #00C85C;
}

#emeralds-name {
	top: 58%;
	left: 24%;
}

#ruby-name {
	top: 68.5%;
	left: 24%;
}

#sapphire-name {
	top: 78.5%;
	left: 24%;
}

.exchange-token-count {
	font-size: 2.8vw;
	position: absolute;
	color: #ffffff;
	width: 15%;
	text-shadow: #402110 1px 1px 0,
	#402110 -1px -1px 0,
	#402110 -1px 1px 0,
	#402110 1px -1px 0;
}


#money-token-count {
	top: 34.5%;
	left: 42%;
}


#emeralds-token-count {
	top: 58.5%;
	left: 42%;
}

#ruby-token-count {
	top: 69.5%;
	left: 42%;
}

#sapphire-token-count {
	top: 79.5%;
	left: 42%;
}

.exchange-token-input {
	border-radius: 15px;
	width: 19%;
	height: 9%;
	position: absolute;
	text-align: center;
	background-color: #ffffff;
	caret-color: #3B3B40;
	font-size: 2.4vw;
	color: #3B3B40;
	border: none;
	box-shadow: inset 0 3px 10px 0 #47474b;
}



#money-token-input {
	top: 35%;
	left: 66%;
}


#emeralds-token-input {
	top: 59.5%;
	left: 66%;
}

#ruby-token-input {
	top: 70%;
	left: 66%;
}

#sapphire-token-input {
	top: 80%;
	left: 66%;
}

.exchange-token-input::-webkit-outer-spin-button,
.exchange-token-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}


#exchange-submit {
	width: 20%;
	position: absolute;
	left: 40%;
	top: 90%;
	cursor: pointer;
	transition: 0.4s all;
}

#exchange-submit:hover {
	transform: scale(1.1);
}



#money-background-icon {
	position: absolute;
	width: 79%;
	height: 14%;
	left: 10%;
	top: 32.5%;
}


#emeralds-background-icon {
	position: absolute;
	width: 70%;
	height: 10%;
	left: 15%;
	top: 58%;
}

#rubies-background-icon {
	position: absolute;
	width: 70%;
	height: 10%;
	left: 15%;
	top: 68.5%;
}

#sapphires-background-icon {
	position: absolute;
	width: 70%;
	height: 10%;
	left: 15%;
	top: 79%;
}


#exchange-fee-bg {
	position: absolute;
	width: 18%;
	right: 17.5%;
	top: 0;
}

#exchange-withdraw-fee {
	color: #ffffff;
	font-size: 2.2vw;
	position: absolute;
	right: 21%;
	top: 18.5%;
}

#available-text {
	position: absolute;
	width: 9%;
	left: 45%;
	top: 28.5%;
}


@media (max-height: 450px) {

	#exchange-withdraw-fee {
		right: 20%;
	}
}